.page-top {
  margin-top: 50px;
}

.small-margin-top {
  margin-top: 3%;
}

.medium-margin-top {
  margin-top: 15%;
}

.very-small-margin-top {
  margin-top: 1%;
}

.small-margin-bottom {
  margin-bottom: 3%;
}
