/* ===== General ====== */
.page-top {
  margin-top: 50px;
}

/* ===== Buttons ====== */
.btn-vertical-middle {
  margin: 20px 0 10px 0;
}

/* ===== Containers ====== */
.small-bottom-container {
  min-height: 200px;
}

.bottom-container {
  min-height: 500px;
}

/* ===== Margins and Padding ====== */
.small-margin-top {
  margin-top: 3%;
}

.medium-margin-top {
  margin-top: 15%;
}

.very-small-margin-top {
  margin-top: 1%;
}

.very-small-margin-bottom {
  margin-bottom: 1%;


.small-margin-bottom {
  margin-bottom: 3%;
}
